.RecentWork-container{
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url('../../assets//Milon.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}